{% extends 'base.html.twig' %}

{% block title %}Modifier
{% endblock %}

{% block body %}
{% if not app.user  %}
		<p>Vous devez être connecté pour ajouter une recette.
		</p>

	{% else %}
	

{% endif %}

{% endblock %}
